@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: #F9F9F9;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

:root {
    --main-color: #f19322;
    --secondary-color: rgba(241, 147, 34, 0.1);
    --text: #475569;
}




h1 {
    color: black;
    font-size: 60px;
    text-align: center;
    line-height: 120%;
    overflow-y: hidden;
}

h2 {
    color: black;
    font-size: 38px;
    line-height: 120%;
    overflow-y: hidden;
}

h3 {
    color: black;
    font-size: 14px;
}

h6 {
    color: black;
    font-size: 14px;
}

p {
    color: var(--text);
    font-size: 14px;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: var(--text);
}
a:hover {
    color: var(--main-color);
    transition: 0.5s;
}

/* PRIMARY BUTTON STYLE */
.primary-button{
    color: white;
    background-color: var(--main-color);
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 16px;
    width: 154px;
    height: 48px;
    text-align: center;
    border: none;
    cursor: pointer;
    border: 1px solid var(--main-color);
}

.primary-button:hover{
    background-color: white;
    color: var(--main-color);
    transition: 0.5s;
    border: 1px solid var(--main-color);  
}


/* CONTAINER */
.container {
    display: grid;
    /* width: 96%; */
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 246px auto;
}

aside {
    height: 100vh;
    background: white;
    padding: 0 12px;
    display: block;
    left: 0;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .top img {
    width: 170px;
}

aside .close {
    display: none;
}

aside p {
    margin: 32px 0 16px 0;
    font-weight: 600;
    font-size: 16px;
    color: black;
}

/* SIDEBAR */
aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 80vh;
    position: relative;
    top: 2rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: black;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition:  all 300ms ease;
}

aside .sidebar a span {
    font-size: 18px;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 0;
    width: 80%;
}

aside .sidebar a.active {
    background: var(--secondary-color);
    color: var(--main-color);
    margin-left: 0;
}
aside .sidebar a.active h3 {
    color: var(--main-color);
   
}

aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background-color: var(--main-color);
}

aside .sidebar a.active span {
    color: var(--main-color);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover span, a:hover h3{
    color: var(--main-color);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

/* MAIN CONTENT */

.main {
    margin-top: 1.4rem ;
    padding-right: 20px;
}

.main .top img {
    display: none;
}
.main .top button {
    display: none;
    border: none;
    background: none;
    color: var(--main-color);
}

/* CONTENT BOX */
.content-box h1 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 16px;
}

/* SETTTING BOX */ 
.settings-box h2{
    font-size: 18px;
    margin: 24px 0;
}

.settings-content {
    display: flex; 
    align-items: start;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

.mini-sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 2px solid black;
    padding-right: 20px;
}

.mini-sidebar a {
    display: flex;
    align-items: center;
    height: 3rem;
    padding-left: 12px;
    transition:  all 300ms ease;
}

.mini-sidebar h3 {
    transition:  all 300ms ease;
}

.mini-sidebar a.active {
    background: var(--secondary-color);
}

.mini-sidebar a.active h3{
    color: var(--main-color);
}

 .mini-sidebar , a:hover h3{
    color: var(--main-color);
}

 .mini-sidebar a:hover h3 {
    margin-left: 1rem;
}


/* PASSWORD FORM */
.form-box {
    width: 300px;
}
.form-box p {
    color: black;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 16px;
}
.input-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}

.input-box label {
    font-size: 14px;
}

.input-box input {
    height: 48px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0 20px 0 20px;
}

.input-box input::placeholder {
    color: #808080;
}

.form-box form button {
    width: 100%;
    margin-top: 16px;
}



@media screen and (max-width: 767px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        left: -100%;
        z-index: 3;
        height: 100vh;
        /* box-shadow: 1rem 3rem 4rem var(--text); */
        display: none;
        animation: showMenu 400ms ease forwards;
        width: 300px;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .close {
        display: block;
    }

    .main{
        padding: 0 20px;
    }
    .main .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main .top img {
        display: block;
        width: 200px;
    }

    .main .top button {
        display: block;
    }

    .content-box h1 {
        font-size: 24px;
        margin-top: 24px;
    }

    /* CONTENT BOX */
    .settings-content {
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    /* MINISIDE BAR */
    .mini-sidebar{
        flex-direction: row;
        border-right: none;
        width: 100%;
        justify-content: space-between;
        padding-right: 0;
        padding-bottom: 12px;
        border-bottom: 2px solid black;
    }

    
    .mini-sidebar a {
        padding: 0 20px;
        text-align: center;
    }

    .mini-sidebar a:hover h3 {
        margin-left: 0;
    }

    .form-box {
        width: 100%;
    }
}